body {
  background-color:grey; 
}

.box{
    background-color: black;
    height:50px;
    width:100%;
    margin: auto;
    padding:25px 25%  25px 25%;
  }
  
  input{
    height:35px;
    width:50%;
  }


.container{
	display: block;
  background-color: #f5f5f5;
  border-radius: 3px;
  box-sizing: border-box;
    display:flex;
    margin: 100px 200px;
    width:870px;
 
}

.about{
	padding-left: 30px;
}

button{
	background-color: blue;
	color: white;
}



